---
import Nav from '../components/Nav.astro';
import Profiles from '../components/Profiles.astro';
import Layout from '../layouts/Layout.astro';
import { getImage } from "astro:assets";
import Skiers from "../assets/adaptive-skiers.webp";

const banner = await (async () => {
	const img = await getImage({src: Skiers});
	return `url('${img.src}')`;
})();
---

<Layout title="RID - Red de Inclusión Deportiva" description="At RID, as a sports non profit organisation, we believe that sports have the power to break social and mental barriers.">
	<!-- 	<Nav /> -->
	<!-- <Image src={skiBanner} alt="Banner" id="banner" /> -->
	<div id="banner">
		<!-- <h1>RED DE INCLUSIÓN DEPORTIVA</h1> -->
		<h1>Red de Inclusión Deportiva</h1>
	</div>
	<h2>What</h2>
	<p id="what">
	At RID, as a sports non profit organisation, we believe that sports have the power to break social and mental barriers, build confidence, and foster inclusion. <br>
	Our mission is to empower individuals with physical and intellectual disabilities by providing opportunities to engage in sports, showcasing their strength, resilience, and potential.<br><br>

	We are dedicated to promoting self-improvement and personal growth through inclusive sporting activities, where everyone, regardless of ability, can thrive and challenge their limits. Our programs aim to not only enhance physical abilities but also support mental well-being, encourage social interaction, and foster a sense of community.<br><br>

	By highlighting the achievements of athletes with disabilities, we aim to inspire others, raise awareness, and create a world where everyone has the opportunity to reach their fullest potential, both on and off the field. Join us in our commitment to inclusivity and empowerment through sport!
	</p>

	<h2>Who</h2>
	<Profiles />

	<h2>Where</h2>
	<div id="where">
		<p><a href="mailto:hi@championsfactory.bg">hi@championsfactory.bg</a></p>
		<p>Manastirski Livadi, ul. Mur 27, 1680 Sofia, Bulgaria</p>
		<p>...Mes dades?</p>
	</div>

	<div id="copyright">
		<p>© 2025 Red de Inclusión Deportiva. All Rights Reserved. <a href="https://garriga.dev">By Liam Garriga</a></p>
	</div>

</Layout>

<style define:vars={{ banner }}>
	#banner {
		background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), var(--banner);
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 850px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		margin: 0;
		font-size: 85px;
		text-align: center;
		vertical-align: middle;
		color: white;
		text-shadow: black 0px 0px 0px;
	}

	:global(p) {
		color: #383737;
		font-size: 18px;
		font-weight: 500;
	}

	p#what {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1rem;
		padding-right: 1rem;

		max-width: 80ch;
		text-align: justify;
	}

	h2 {
		color: #383737;
		text-align: center;
		font-size: 50px;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	#where {
		width: max-content;
		margin-left: auto;
		margin-right: auto;
	}

	#copyright {
		padding: 2rem;
		background-color: black;
	}
	#copyright p {
		font-size: 15px;
		font-weight: 600;
		color: white;
		text-align: center;
	}
	#copyright a {
		color: white;
	}
/* 	@media (min-width: 1200px) {
		#banner {
		
		}
	} */
</style>