---
---

<nav>
  <ul>
    <li><a>Home</a></li>
    <li><a>About Us</a></li>
    <li><a>Contact</a></li>
  </ul>
</nav>

<style>
  nav {
    font-size: 19px;
    color: white;
		text-shadow: black 0px 0px 5px;

    margin: 0;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }
  li {
    
  }
</style>